<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--上传文件保存路径-->
    <add key="NewsFolderPath" value="../../uploadfile/djsj"/>
    <!--FarPoint Spread路径配置-->
    <add key="fp_client" value="/fp_client" />
    <!--模拟平台返回值（长庆RDMS系统）"664cb276-3840-4159-9756-8e8e7dce8057"  "admin" -->
    <add key="cid" value="3973aa62-acdc-43ad-868e-e37f07e5b8ce" />
    <add key="un" value="" />
    <!--单位类型-->
    <add key="ygsSite"   value="beneDesYGS/moduleIndex.aspx"/>
    <add key="cycSite"   value="beneDesCYC/moduleIndex.aspx"/>
    <add key="qgsSite"   value=""/>
    <add key="cqcSite"   value=""/>
    <!--油公司使用的特殊配置-->
    <add key="qkmc" value="'东柴山',	'红柳泉油田',	'花土沟Ⅱ下层系',	'花土沟Ⅳ层系',	'花土沟油田0层系',	'花土沟油田Ⅰ上层系',	'花土沟油田Ⅰ下层系',	'花土沟油田Ⅱ层系',	'花土沟油田Ⅱ上层系',	'花土沟油田Ⅱ下层系',	'花土沟油田Ⅲ层系',	'花土沟油田Ⅳ层系',	'马八',	'马北',	'南八仙',	'南翼山',	'七个泉Ⅰ层系',	'七个泉Ⅱ上层系',	'七个泉Ⅱ下层系',	'七个泉Ⅲ层系',	'切12区',	'切16区',	'切4区',	'切六井区',	'砂西深层',	'砂西中浅层',	'狮子沟油田浅层',	'狮子沟油田深层',	'乌南构造',	'英东区块',	'油砂山0断块',	'油砂山Ⅰ断块Ⅰ混层系',	'油砂山Ⅰ断块Ⅰ上层系',	'油砂山Ⅰ断块Ⅰ下层系',	'油砂山Ⅰ断块Ⅱ层系',	'油砂山Ⅰ断块Ⅲ层系',	'油砂山Ⅱ断块Ⅰ混层系',	'油砂山Ⅱ断块Ⅰ上层系',	'油砂山Ⅱ断块Ⅰ下层系',	'油砂山Ⅱ断块Ⅱ层系',	'油砂山Ⅱ断块Ⅲ层系',	'油砂山Ⅲ断块',	'油砂山Ⅳ断块',	'油砂山Ⅴ断块',	'油砂山Ⅵ断块',	'游园沟',	'跃75井区',	'跃地１井区',	'跃东构造',	'跃进二号东高点E32',	'跃进二号东高点八层系',	'跃进二号东高点二层系',	'跃进二号东高点六层系',	'跃进二号东高点七层系',	'跃进二号东高点三层系',	'跃进二号东高点四层系上',	'跃进二号东高点四层系下',	'跃进二号东高点五层系',	'跃进二号东高点一层系',	'跃进四号构造',	'跃中构造',	'扎哈泉',	'尕斯灰层',	'尕斯深层Ⅰ+Ⅱ油组',	'尕斯深层Ⅰ~Ⅳ油组',	'尕斯深层Ⅲ+Ⅳ油组',	'尕斯中浅层上盘Ⅰ上层系',	'尕斯中浅层上盘Ⅰ下层系',	'尕斯中浅层上盘Ⅱ上层系',	'尕斯中浅层上盘Ⅱ下层系',	'尕斯中浅层上盘Ⅲ层系',	'尕斯中浅层上盘Ⅳ上层系',	'尕斯中浅层上盘Ⅳ下层系',	'尕斯中浅层下盘北上层系',	'尕斯中浅层下盘北下层系',	'尕斯中浅层下盘南区'" />
  </appSettings>
  <connectionStrings>
    <!--<add name="cycConnectionString" connectionString="Data Source=10.78.150.63/orcl; USER ID=cqcyc;password=cqcyc;Unicode=True" />
    <add name="ygsConnectionString" connectionString="Data Source=10.78.150.63/orcl;User ID=cqygs;Password=cqygs;Unicode=True" providerName="System.Data.OracleClient"/>-->
    <add name="cycConnectionString" connectionString="Data Source=127.0.0.1/orcl; USER ID=qhcyqc;password=qhcyqc;Unicode=True" />
    <add name="ygsConnectionString" connectionString="Data Source=127.0.0.1/orcl;User ID=qhyqgs;Password=qhyqgs;Unicode=True" providerName="System.Data.OracleClient"/>
    <!--青海服务器-->
   <!--<add name="cycConnectionString" connectionString="Data Source=10.82.3.174/orcl; USER ID=qhcyqc;password=qhcyqc;Unicode=True" />
    <add name="ygsConnectionString" connectionString="Data Source=10.82.3.174/orcl;User ID=qhyqgs;Password=qhyqgs;Unicode=True" providerName="System.Data.OracleClient"/>-->
    <!--长庆虚拟机-->
    <!--<add name="cycConnectionString" connectionString="Data Source=10.78.56.92/eval; USER ID=cqcyc;password=cqcyc;Unicode=True" />
    <add name="ygsConnectionString" connectionString="Data Source=10.78.56.92/eval;User ID=cqygs;Password=cqygs;Unicode=True" providerName="System.Data.OracleClient"/>-->

    <add name="A2ConnectionString" connectionString="Data Source=10.78.173.101/CQEDM01; USER ID=edmread;password=edmread090330;Unicode=True" />
  </connectionStrings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。


        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的


            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页


            以代替错误堆栈跟踪。



        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。


    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="true"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RDMSAccountWebServiceSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.78.56.9:90/RDMSAccountWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="RDMSAccountWebServiceSoap"
        contract="ServiceReferenceRDMS.RDMSAccountWebServiceSoap" name="RDMSAccountWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
