.icon-add
{
	background-image: url('../../static/image/icon/new.png');
}
.icon-huizong
{
	background-image: url('../../static/image/icon/huizong.png');
}
.icon-init
{
	background-image: url('../../static/image/icon/4.png');
}
.icon-send
{
	background-image: url('../../static/image/icon/send.png');
}
.icon-edit
{
	background-image: url('../../static/image/icon/modify.png');
}
.icon-delete
{
	background-image: url('../../static/image/icon/delete.png');
}
.icon-search
{
	background-image: url('../../static/image/icon/look.png');
}
.icon-role
{
	background-image: url('../../static/image/icon/roleEdit.png');
}
.icon-save
{
	background-image: url('../../static/image/icon/save.gif');
}
.icon-ok
{
	background-image: url('../../static/image/icon/send.png');
}
.icon-close
{
	background-image: url('../../static/image/icon/退出.png');
}
.icon-qian
{
	background-image: url('../../static/image/icon/qian.jpg');
}
.icon-hou
{
	background-image: url('../../static/image/icon/hou.jpg');
}

.readOnly
{
	filter: alpha(opacity=30);
	opacity: 0.3;	
}
.x-tree-node-text,.x-tree-panel .x-panel-header
{
	cursor:pointer;	
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}