<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MultiSelect &amp; ItemSelector</title>
    <!-- ExtJS -->

    <script src="../../static/Extjs/src/shared/include-ext.js" type="text/javascript"></script>

    <!-- Shared -->
    <link href="../../static/Extjs/src/shared/example.css" rel="stylesheet" type="text/css" />
    <!-- Example -->

    <script type="text/javascript" src="../../static/js/month/multiselect-demo.js"></script>

    <link href="../../static/Extjs/src/ux/css/ItemSelector.css" rel="stylesheet" type="text/css" />
    <!-- GC -->
</head>
<body>
    <div id="itemselector" class="demo-ct">
    </div>
</body>
</html>
